<!DOCTYPE html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>login</title>
</head>
<body>  
    <div class="container">
        <div class="logo">
            <img src="../img/logo.svg">
        </div>
        <div class="form-container">
            <form class="login-form">
                <label>
                    <div>login</div>
                    <input name="login" type="text">
                </label> 
                <label>
                    <div>password</div>
                    <input name="password" type="password">
                </label>
    
                <div class="button-container">
                    <button>LOGIN</button>
                    <button>REGISTER</button>
                </div>
                    
            </form>
        </div>
    </div>
</body>