@main_background_color: #D4D26A;
@main_background_gradient: transparent linear-gradient(180deg, #D7D93A 0%, #D4D26A 45%, #989A29 100%, #8C8E25FA 100%, #A4A62C6B 100%, #6C6D1D 100%) 0% 0% no-repeat padding-box;

body {
    margin: 0;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background: @main_background_gradient;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    .logo {
        width: 50%;
        text-align: center;
    }
}


.bar {
    align-self: stretch;
    width: 20vw;
    border: 1px solid #707070;
    background: @main_background_gradient;
    box-sizing: border-box;

    .logo-bar{
        width: 100%;
        text-align: center;
        img{
            margin-top: 10%;
            width: 80%;
            height: 80%;
        }
    }

    .menu-bar1 {
        display: grid;

        grid-template-columns: 1fr 3fr;
        gap: 0.6em;
        padding: 0.5em;
        margin-top: 4em;
        margin-right: 2em;
        justify-content: center;
        font-size: 1.7em;
        width: 100%;
        padding: 0.2em;
        box-sizing: border-box;


        .menu-bar-button {
            line-height: 2em;
        }
        .menu-image {
            align-self: center;
            text-align: center;
            font-size: 2em;
        }

        & > *{
            width: 100%;
        }
    }
    
}

.right-panel {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    width: 80vw;
    min-height: 100vh;
    background: @main_background_color;


    .header {
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        margin-left: 0.6em;
        margin-top: 0.4em;
        font-size: 5em;
        width: 100%;


        .header-text {
            margin-left: 0.2em;
            color: #621046;

        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;  
    }

}



.form-container {
    width: 50%;
}




form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 20vh;


    background: #BBB735 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000047;
    border-radius: 25px;
}

.profile-form {
    background: @main_background_color;
    box-shadow: none;
}


.profile {
    background: @main_background_color;
    box-shadow: none;
}

.friends-content {
    display: flex;
    flex-wrap: wrap;

    .friend-container {
        margin-left: 10em;
        display: flex;
        flex-direction: column;
        padding-bottom: 0.5em;

        .text{
            margin-top: 0.2em;
            margin-bottom: 5em;
            align-self: center;
            font-size: 1em;
            border: 1em solid #621046;
                        
            background-color: #621046;
            color: #D7D93A;
        }
    }

    
}


.button-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    margin: 1em;
    
}

#change-password{
    width: 30%;
}

.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: transparent linear-gradient(180deg, #982771 0%, #621046 100% )0% 0% no-repeat padding-box;
    border-color: #4c0e37;
    border-radius: 10px;
    border: none;
    width:25%;
    color: #D7D93A;
    line-height: 3em;
    cursor: pointer;
}

input {
    background-color: transparent;
    padding: 1em;
    border: none;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

label {
    border: 1px solid #621046;
    margin: 1em;
    width: 15em;

}

label > div {
    background-color: #BBB735;
    display: block;
    margin-top: -0.65em;
    margin-left: 1.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    height: 1em;
    color: #621046;
    width: fit-content;
}

.profile {
    label > div {

        margin-top: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right:0;
    }
    label {
        border: none;
        margin: 1em;
        width: 15em;
    }
}

.profile-container label > div {
    background: @main_background_color
}

.avatar {
    width: 15em;
    height: 15em;
    position: relative;


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .change-avatar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 2em;
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        cursor: pointer;
    }
}


@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }

    *{
        font-size: 30px;
    }

    form{
        width: 100%;
    }


    .container {
        .logo {
            width: 70%;
        }
    }

    img{
        width: 100%;
    }

    .form-container {
        width: 80%;
        margin: 0;
        justify-content: center;

        .login-form {
            margin: 0;
        }
    }

}