@main_background_color: #D4D26A;
@main_background_gradient: transparent linear-gradient(180deg, #D7D93A 0%, #D4D26A 45%, #989A29 100%, #8C8E25FA 100%, #A4A62C6B 100%, #6C6D1D 100%) 0% 0% no-repeat padding-box;
@secondary_color: #621046;
@input_form_color: #BBB735;
@secondary_background_gradient: transparent linear-gradient(180deg, #982771 0%, @secondary_color 100% )0% 0% no-repeat padding-box;


body {
    margin: 0;
    font-family: "Lato",sans-serif;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background: @main_background_gradient;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    .logo {
        width: 50%;
        text-align: center;
    }
}

.mobile-bar{
    display: none;
    position: fixed;
    width: 1.5em;
    height: 1.5em;
    top: 1em;
    left: 1em;
    z-index: 2;
}

.bar {
    align-self: stretch;
    width: 20vw;
    border: 1px solid @secondary_color;
    background: @main_background_gradient;
    box-sizing: border-box;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;


    .logo-bar{
        width: 100%;
        text-align: center;
        img{
            margin-top: 10%;
            width: 80%;
            height: 80%;
        }
    }

    .menu-bar1 {
        display: grid;

        grid-template-columns: 1fr 3fr;
        gap: 1em;
        margin-top: 4em;
        margin-right: 2em;
        justify-content: center;
        font-size: 1.7em;
        padding: 0.2em;
        box-sizing: border-box;


        .menu-bar-button {
            line-height: 2em;
        }
        .menu-image {
            align-self: center;
            text-align: center;
            font-size: 2em;
        }

        & > *{
            width: 100%;
        }
    }

}


.right-panel {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: @main_background_color;
    margin-left: 20vw;


    .header {
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        margin-left: 0.6em;
        margin-top: 0.4em;
        font-size: 5em;


        .header-text {
            margin-left: 0.2em;
            color: @secondary_color;

        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

}



.form-container {
    width: 50%;
}




.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30em;
    min-height: 25vh;
    margin-right: 2em;


    background: @input_form_color 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000047;
    border-radius: 25px;

}

.avatar-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.profile-form {
    background: @main_background_color;
    box-shadow: none;

    .button {
        box-sizing: border-box;
        line-height: 2em;
        /* align-self: center; */
        margin: 1em;
        display: block;
        width: auto;
    }
}

.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    //padding: 0;
    background: transparent linear-gradient(180deg, #982771 0%, @secondary_color 100% )0% 0% no-repeat padding-box;
    border-radius: 10px;
    border: none;
    width:7em;
    height: 2em;
    color: #D7D93A;
    line-height: 1em;
    cursor: pointer;
}

.profile {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: @main_background_color;
    box-shadow: none;


}
#add-group-button{
    width: 10em;
    margin-top: 3em;
}

.friends-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .friend-container {
        margin: 3em;
        display: flex;
        flex-direction: column;
        padding-bottom: 0.5em;

        .text{
            margin-top: 0.2em;
            margin-bottom: 5em;
            align-self: center;
            font-size: 1em;
            border: 1em solid @secondary_background_gradient;

            background: @secondary_background_gradient;
            color: #D7D93A;
        }
    }
}

.groups-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .groups-container{
        display: flex;
        flex-direction: column;
        width: 17em;
        height: 25em;
        margin: 3.5em;
        align-self: center;
        justify-content: center;


        img{

            width: 17em;
            height: 17em;
            object-fit: fill;
        }

        .button{
            display: block;
        }
    }
}


.button-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    margin: 1em;

}

#change-password{
    width: 30%;
}



input {
    background-color: transparent;
    padding: 1em;
    border: none;
    width: 100%;
    box-sizing: border-box;
    outline: none;


}



.form-field {
    display: block;
    border: 1px solid @secondary_color;
    margin: 1em;
    width: 15em;

    .field-name {
        background-color: @main_background_color;
        display: block;
        margin-top: -0.65em;
        margin-left: 1.5em;
        padding-left: 0.2em;
        padding-right: 0.2em;
        height: 1em;
        color: @secondary_color;
        width: fit-content;

    }
    .field-name-form{
        background-color: @input_form_color;
        display: block;
        margin-top: -0.65em;
        margin-left: 1.5em;
        padding-left: 0.2em;
        padding-right: 0.2em;
        height: 1em;
        color: @secondary_color;
        width: fit-content;
    }

    .field-value {

    }
}


.profile-container label > div {
    background: @main_background_color
}

.avatar {
    width: 15em;
    height: 15em;
    position: relative;


    img {
        image-rendering: pixelated;
        width: 100%;
        height: 100%;
        object-fit: fill    ;
    }

    .change-avatar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        font-size: 1.3em;
        //background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        cursor: pointer;



        //.button-image{
        //    //background-color: rgba(255, 255, 255, 0.8);
        //    margin: 0;
        //    width: 100%;
        //    box-sizing: border-box;
        //    height: inherit;
        //    line-height: 1em;
        //    font-size: 1.2em;
        //    border: none;
        //    color: rgba(0, 0, 0);
        //    background: rgba(255, 255, 255, 0.8);
        //    border-radius: 0;
        //}
    }
}
.button-image{
    //background-color: rgba(255, 255, 255, 0.8);
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    height: 1.2em;
    line-height: 1em;
    font-size: 1.2em;
    border: none;
    color: rgba(0, 0, 0);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0;
}
.popup-window {
    z-index: 219;
    position: fixed;
    background: rgb(0 0 0 / 59%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: none;

    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40em;
        width: 40em;
        //background:@secondary_background_gradient;
        background: @main_background_color;
        box-shadow: 0 0 9px 3px black;
        border-radius: 15px;
        text-align: center;
        justify-content: center;

        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        input {
            color: black;
            cursor: pointer;
            padding: 5px;
            display: block;
            //text-shadow: 1px 1px 1px #000000;

            //text-align: center;
        }

        .groups-container{
            margin: 1em;
            width: 17em;
            height: 21em;

        }
    }

    &.show{
        display: flex;
    }
}

.user-list-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;

    .user-container{
        display: flex;
        flex-direction: row;
        margin: 3em;

        .img-container{
            .img{
            width: 7em;
            height: 7em;
            object-fit: fill;
            }
        }

        .user-data-container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.no-valid{
    border:4px red solid;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

.change-password-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .button{
        width: 50%;
    }
}

.search-bar{
    border: 5px solid @secondary_color;
    border-radius: 15px;
    background: @main_background_gradient;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    image-rendering: pixelated;
}

.passwordValidation {
    border: 3px solid red;
}

@media only screen and (max-device-width: 420px) {


    .container {
        background: @main_background_gradient;
        flex-direction: column;

        .logo {
            width: 60%;
        }
    }

    .mobile-bar{
        display: block;
    }

    *{
        font-size: 30px;
    }

    .button-container {
        width: 90%;
    }

    .right-panel{
        margin: 0;
    }

    form{
        width: 100%;

        .form-container {
            width: 80%;
            margin: 0;
            justify-content: center;

            .login-form {
                margin: 0;
            }
        }
    }

    .header {
        margin-bottom: 0.3em;
        display: flex;
        flex-direction: column;

        .header-text{
            font-size: 0.8em;
        }
    }

    .popup-window{
        .inner{
            position: fixed;
            transform: none;
            top:1em;
            right: 1em;
            bottom: 4em;
            left: 1em;
            width: auto;
            height: auto;

            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                input[type=file]{
                    width: 47%;
                }
            }
        }
    }


    .bar{
        position: fixed;
        left: -20em;
        width: 20em;
        height: 100vh;
        opacity: 97%;
        box-sizing: border-box;
        transition: 0.5s;
        z-index: 1;

        display: flex;
        flex-direction: column;
        background: @main_background_gradient;

        .menu-bar1{
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: 0.6em;
            margin-top: 4em;
            justify-content: start;
            font-size: 1.7em;
            padding: 0.2em;
            box-sizing: border-box;
        }

        .menu-bar-button {
            line-height: 2em;
            width: 100%;
            display: inline-block;

        }
        .menu-image {
            align-self: center;
            text-align: center;
            font-size: 1em;
        }

        &.active {
            left: 0;
        }
    }

.friends-content {
        display: flex;
        width: 100%;
        flex-direction: column;

        .friend-container {
            margin: 0;
            padding: 0;
            width: 60vw;

            .text {
                margin-top: 0.2em;
                margin-bottom: 0.5em;
            }
        }
}

.input-form {
    width: auto;
    margin: 0;
}

    .menu-image{
        font-size: 0.8em;
    }

    img{
        width: 100%;
    }

    .content{
        margin-top: 3em;


        .label-class {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

}